
<h5><%=link_to @product.category.name, category_path(@product.category_id)%></h5>
<h1><%=@product.name%>
<%rating =  0.0%>
<%@product.reviews.each do |review|%>
	<%rating+=review.rating%>
<%end%>
<%unless rating == 0%>
	<h2>Rating: <%=rating/@product.reviews.count%></h2>
<%end%>
<h3>Price: <%=@product.price%></h3>
<h5>Description: <%=@product.description%></h5>
<%if user_signed_in?%>
	<%=form_for @item do |f|%>
		<%=f.select :quantity, (1..10).to_a%><br/>
		<%=f.hidden_field :product_id, value: @product.id%><br/>
		<%=f.submit "Add to Cart"%>
	<%end%>
<%end%>
<%if user_signed_in? && current_user.is_admin%>
	<div class="btn-grp", role="group", aria_label="...">
		<%=link_to edit_product_path(@product.id), class:"btn btn-primary" do%>
				<i class="glyphicon glyphicon-pencil"></i>Edit Product
			<%end%>
			<%=link_to product_path(@product.id), method: :delete, class:"btn btn-danger",data: {confirm: "Arer you sure"} do%>
				<i class="glyphicon glyphicon-remove"></i>Delete Product
			<%end%>
	</div>
<%end%>
<div class="container">
    <div class="well">
        <h4>reviews</h4><br/>
        	<%if user_signed_in?%>
				<div class="panel">
					<%=form_for Review.new do |f|%>
						<%=f.label "Rate the product"%>
						<%=f.radio_button :rating, 1%>1
						<%=f.radio_button :rating, 2%>2
						<%=f.radio_button :rating, 3%>3
						<%=f.radio_button :rating, 4%>4
						<%=f.radio_button :rating, 5%>5<br/>
						<%=f.text_area :body, placeholder: "review this product"%><br/>
						<%=f.hidden_field :product_id, value: @product.id%>
						<%=f.submit "Post Review", class:"btn btn-success"%>
					<%end%>
				</div>
			<%else%>
				<h5>You need to be signed in to create a review
			<%end%>
			<%unless @product.reviews.nil?%>
				<%@product.reviews.each do |review|%>
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title"><%=review.user.name%>    <%=time_ago_in_words(review.created_at)%> ago</h3>
							<h3 style="text-align: right"><%=review.rating%></h3>
						</div>
						<div class="panel-body">
							<p><%=review.body%></p>
						</div>
					</div>
				<%end%>
			<%end%>
	</div>
</div>
